@mixin slimFont (){
  font-family: $lato;
  font-weight: 300;
  text-transform: uppercase;
}

@mixin clearfix (){
  &:before,
  &:after{
    content: '';
    display: table;
  }
  &:after{
    clear: both;
  }
}

@mixin borderRadius($radius){
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

// @mixin boxShadow($color){
//   -moz-box-shadow: 0 15px 5px $color;
// -webkit-box-shadow: 0 15px 5px $color;
// box-shadow: 0 15px 5px $color;
// }