/* Basic Settings for uHero */
/* Fonts */
$base: 16px;
$roboto: 'Roboto Condensed', sans-serif;
$lato: 'Lato', sans-serif;
/*Inline Media Queries*/
/* Media Queries 
small : max-width: 640px
medium : min-width: 641px, max-width: 960px
large : min-width: 961px
*/

$small-only : "only screen and (max-width:760px)";
// $medium-down : "only screen and (max-width:1177px)";
// $medium-only : "only screen and (min-width:760px) and (max-width:1118px)";
$medium-up : "only screen and (min-width:760px)";
$large-only : "only screen and (min-width:1177px)";

/* Colors */
$la: #1a1a1a;
$looted: #201132;
$body_color: #6E7070;
$white: #fff;
$teaser: #73a5e2;

/* for dark headers */
$dark_grey: #4F5050;
$oil: #323333;

/* Default Map Color */
$light_grey: #EBEDDE; 

/* Pinks? */
$light_pink: #F29C8B;
$rose: #C67163;