header{
  // height: 80px;
  a:hover{
    color: $white;
  }
  margin-bottom: 20px;
  padding: 20px 0 10px;
  color: $white;
  text-align: center;
  background-color: $la;
  
  .logo{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

nav{
  padding: 20px 0;
  text-align: center;
  @include slimFont;

  li{
    padding: 20px;
    padding-bottom: 10px;
    display: inline;
    border: 1px solid $la;
    &:hover{
      color: $teaser;
      border-bottom: 1px solid $teaser;
    }
  }  
}
